@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    color: rgb(32, 32, 32);
    background-image: linear-gradient(-45deg, rgb(65, 38, 39), rgb(70, 60, 64),rgb(86, 76, 105), rgb(97, 97, 141));
    background-size: 400% 400%;
    position: relative;
    animation: change 3s ease-in-out infinite;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    background-image: url(background.jpeg);
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.header{
    font-size: 20px;
    font-family: 'Glass Antiqua', cursive;
}
.header2{
    font-size: 20px;
    font-family: 'Tulpen One', cursive;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.container img{
    width: 190px;
    margin: 15px;
    border-radius: 50%;
    border-color: rgb(135, 131, 139);
    border-style: solid;
    border-width: 3px;
    float: left;
    overflow: hidden;
}
.bg3{
    height: 110px;
    background-color: rgb(135, 131, 139);
    width: 100%;
    margin-top: -110px;
    border-bottom: solid rgb(44, 40, 40);
    border-width: 7px;
}
.bg{
    height: 450px;
    max-width: 50%;
    width: 50%;
    background-color: rgb(54, 53, 63);
    float: left;
    color: rgb(182, 180, 182);
    font-weight: 4px;
    padding: 25px;
}
.bg .hello{
    letter-spacing: 4px;
    font-size: 25px;
    font-family: 'Suwannaphum', serif;
}
.bg .myself{
    text-indent: 15px;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
}
.bg2{
    height: 400x;
    max-width: 50%;
    width: 50%;
    background-color: rgb(80, 74, 87);
    float: right;
    font-weight: 4px;
    padding: 25px;
    box-sizing: border-box;
}
.bg2 .pendidikan{
    letter-spacing: 4px;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Suwannaphum', serif;
}
.bg2 .sekolah{
    font-size: 22px;
    word-spacing: 30px;
    font-family: 'Wellfleet', cursive;
}
.bg2 .tahun{
    font-size: 20px;
    word-spacing: 10px;
    font-family: 'Inria Sans', sans-serif;
}
.bg .contact{
    letter-spacing: 4px;
    font-size: 25px;
    font-family: 'Suwannaphum', serif;
}
.inspirasi{
    width: 100%;
    background-color: rgb(131, 131, 143);
    height: 187px;
    overflow: scroll;
}
.kontak{
    font-size: 20px;
    word-spacing: 10px;
    font-family: 'Inria Sans', sans-serif;
}
.insp{
    letter-spacing: 4px;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Suwannaphum', serif;
}
div .inspirasi .jdl{
    font-size: 20px;
    color: rgb(175, 68, 68);
}
@keyframes change {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}